<!DOCTYPE html>
<html lang="en" xmlns:th="http://ww.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--<p th:text="'Id: '+${posingInstance.id}"/>-->
<p th:text="'Posting title: '+${postingInstance.postingTitle}"/>
<p th:text="'Description: '+${postingInstance.description}"/>
<p th:text="'Company Name: '+${postingInstance.companyName}"/>
<p th:text="'Company Id: '+${postingInstance.companyId}"/>
<p th:text="'Company Email: '+${postingInstance.companyEmail}"/>
<p th:text="'Eligible CGPA: '+${postingInstance.eligibleCGPA}"/>
<p th:text="'Requirements: '+${postingInstance.requirements}"/>
<p th:text="'Posting Type: '+${postingInstance.postingType}"/>
</body>
</html>