<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Student Login</title>
    <link rel="stylesheet" th:href="@{/css/form.css}">
    <link rel="stylesheet" th:href="@{/css/popover.css}">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/font-awesome.css}">
    <link rel="stylesheet" th:href="@{/css/overall.css}">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>
<body th:style="'background: url(/images/bg3.jpg) no-repeat center center fixed;'">
<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a th:href="@{/}" class="logo">
                        PLACEMENT PORTAL
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
                        <li class="scroll-to-section"><a href="#about">About</a></li>
                        <li class="scroll-to-section"><a href="#contact-us">Contact Us</a></li>
                        <div class="search-icon">
                            <a href="#search"><i class="fa fa-search"></i></a>
                        </div>
                    </ul>
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>

<div id="LoginForm">
    <h1 id="heading">Student Login</h1>
<form autocomplete="off" action="#" th:action="@{/authenticateStudent}" th:object="${studentLoginInstance}"
      method="post">
    <p>Username: <input type="text" id="username" name="username"
                             th:field="*{username}"/>
    <p>Password: <input type="password" id="password" required th:field="*{password}"/>
<!--    <div th:if="${string != null}" id="forgot">-->
    <p th:if="${string != null}" th:text="${string}"/><br>
        <a th:if="${forgot != null}" th:href="@{/forgotStudent}">Reset Username/Password</a>
<!--    </div>-->
    <br><p><input type="submit" id="submit_btn" value="Submit"/><input id="reset" type="reset"
                                                                                value="Reset"></p>
</form>
</div>
<script>
    var x = document.getElementsByTagName("input");
    var i;
    for (i = 0; i < x.length; i++) {
        x[i].required=true;
    }
    x = document.getElementsByTagName("textarea");
    for (i = 0; i < x.length; i++) {
        x[i].required=true;
    }
</script>
</body>
</html>